* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

:root {
  font:13pt / 1.5 sans-serif;
  hyphens:auto;
  color:#333;
  background:#fff;
}

body {
  max-width:700px;
  min-height:100vh;
  padding:16px;
  margin-inline:auto;
}

.title {
  font-size:2rem;
  font-weight:normal;
}

h1:not(.title) {
  font-size:1.5rem;
  font-weight:bold;
  margin-top:16px;
  letter-spacing:0.05rem;
}

dd {
  margin-left:3ch;
}

ol, ul {
  margin-left:3ch;
}

.author, .date {
  display:inline;
}

.author::before {
  content:'by ';
}

.date::before {
  content:'on ';
}

p {
  margin-block:1rem;
}

@media (width > 700px) {
  p {
    text-align:justify;
  }
}

hr {
  margin-block:2rem;
}

pre > code {
  display:block;
  color:#fff;
  background:#333;
  padding:16px;
  margin-block:1rem;
  white-space:pre;
  overflow:auto;
}
